<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="syle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>WaRf | LP</title>
</head>
<body>
<body ontouchmove="event.preventDefault()"></body>
<div id="app">
<v-app>
<v-main>
    
        <v-img height="80vh" src='imges/top.JPG'>
            <h1 class="name">WaRf</h1>
        </v-img>
 
    
    <v-row class="justify-center">
    <v-col class="col-10 col-sm-8 col-md-5">
        <v-row><h1 class="font-weight-medium">What is WaRf</h1></v-row>
        <v-row>
            <p class="font-weight-bold">WaRfは短期の求人を出したい求人主と旅をしながら暮らしたい旅行者を繋ぐためのプロダクトです。</p>
            <p class="font-weight-light">学生時代、年に４回程アルバイトで貯めたお金で旅行に行っていました。
                しかし、旅行好きな自分はもっと旅行したい、旅をしながら暮らしたいと思っていました。
                WaRfはそんな旅人のためのプロダクトです。
            </p>
        </v-row>
        <v-row>
            <p class="font-weight-bold">地方求人の煩雑さを解決したい。</p>
            <p class="font-weight-light">
                １つの求人を出すのにもFAXを何通もやりとりして、それでいてなかなか人が集まらないという現状の地方求人。
                もっと簡単に。そんな思いからWaRfは生まれています。
            </p>
        </v-row>

        <v-divider color="#c3c3c3"></v-divider>

        <v-row>
            <h2 class="font-weight-bold text-md-h2 text-h3">旅先を決めるのも、<br><span class="under">旅行の醍醐味。</span></h2>
            <p class="font-weight-light">
                旅行にとって旅先を決めるのは、とてもワクワクするものです。<br>
                WaRfの求人掲載は雑誌を一枚一枚めくるようにして見せています。
                これにより画面上のワクワクと操作感を大切にしています。
            </p>
        </v-row>
    </v-col>
    </v-row>
    <v-row class="justify-center">
        <video src="imges/LP.mp4" playsinline muted loop autoplay class="mov"></video>
    </v-row>

    <v-row class="justify-center">
        <v-col class="col-10 col-sm-8 col-md-6">
            <v-row>
                <h2 class="font-weight-bold text-md-h2 text-h3"><span class="under">より簡潔に、使いやすく。</span></h2>
                <p class="font-weight-light">
                    求人を出すハードルが高ければ活発なコミュニティは生まれません。フォーマットに沿って入力するだけで、美しい求人が誰でも出すことができます。
                    もちろん、編集も簡単です。
                </p>
            </v-row>
        </v-col>
    </v-row>
        
    <v-row class="justify-center">
        <v-col class="col-md-2 col-sm-8 col-12"><v-img src="imges/regi1.png" alt="" class="ss"></v-col> 
        <v-col class="col-md-2 col-sm-8 col-12"><v-img src="imges/regi3.png" alt="" class="ss"></v-col> 
        <v-col class="col-md-2 col-sm-8 col-12"><v-img src="imges/regi2.png" alt="" class="ss"></v-col> 
    </v-row>

    <v-row class="justify-center">
        <v-col class="col-10 col-sm-8 col-md-6">
            <v-divider color="#c3c3c3"></v-divider>
        </v-col>
    </v-row>

    <v-row class="justify-center">
        <v-col class="col-10 col-sm-2 col-md-3">
            <v-img src="imges/contract3.png" alt="" class="con">
        </v-col>
        <v-col class="col-10 col-sm-4 col-md-6">
            <h2 class="font-weight-bold text-md-h2 text-h3">紙や新しい機械を<br><span class="under">用意する必要はありません。</span></h2>
            <p class="font-weight-light">
                契約を結ぶとき、タイムカードを打つとき、紙や新しい機械は必要ありません。<br>
                導入する機械もいりません。必要なのはスマートフォン1つです。
            </p>
            <p>求人主から送られてきた契約書を確認し、スマートフォン上でサインすることで、契約は完了。<br>
            求人主はサインが合成された契約書をPDFとして書き出すことが可能です。
            </p>
            <p>
                タイムカードは旅行者に付与されるQRコードを読み取り、データーベースと照合して行います。
            </p>
            <v-img src="imges/sign.png" alt="" class="sign">
        </v-col>
    </v-row>


    <v-row class="justify-center">
        <v-col class="col-10 col-sm-8 col-md-6">
            <v-divider color="#c3c3c3"></v-divider>
        </v-col>
    </v-row>

    <v-row class="justify-center">
        <v-col class="col-10 col-sm-8 col-md-5">
            <p class="font-weight-bold">スクリーンショット</p>
        </v-col>
    </v-row>
            <!-- User -->
            <v-sheet
                class="mx-auto"
                elevation="4"
                min-width="80vw"
                color="rgb(47, 47, 47)"
            >
            <v-slide-group
            class="ma-10"
            height="200px"
            active-class="success"
            >
                <v-slide-item v-for="user in users" :key="user.id">
                    <v-img :src="user.src" alt="user.alt" class="ss ma-5">
                </v-slide-item>
            </v-slide-group>
            </v-sheet>

            <!-- Host -->
            <v-sheet
                class="mx-auto"
                elevation="4"
                min-width="80vw"
                color="rgb(47, 47, 47)"
            >
            <v-slide-group
            class="ma-10"
            height="200px"
            active-class="success"
            >
                <v-slide-item v-for="host in hosts" :key="host.id">
                    <v-img :src="host.src" alt="host.alt" class="ss ma-5">
                </v-slide-item>
            </v-slide-group>
            </v-sheet>

            <v-row class="justify-center">
                <h3>WaRf</h3>
            </v-row>

            <v-row class="justify-center pb-12">
                <img src="imges/warf_info.png">
            </v-row>

            <v-footer
                dark
                padless
                
            >
                <v-card
                flat
                tile
                color="rgb(30, 29, 20)"
                class="white--text text-center"
                min-width="100vw"
                >
                <v-card-text>
                    <v-btn
                    v-for="icon in icons"
                    :key="icon"
                    class="mx-4 white--text"
                    icon
                    >
                    <a href="https://github.com/warf-20201020/warf">
                    <v-icon size="24px" color="white">
                        {{ icon }}
                    </v-icon>
                    </a>
                    </v-btn>
                </v-card-text>
            
                <v-card-text class="white--text pt-0">
                    https://warf.info
                </v-card-text>
            
                <v-divider></v-divider>
            
                <v-card-text class="white--text">
                    {{ new Date().getFullYear() }} — <strong>WaRf</strong>
                </v-card-text>
                </v-card>
            </v-footer>

</v-main>
</v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>

    const users = [
    {   
        id: 1,
        alt: 'LP',
        src: 'imges/slide/lp.png'
    },
    {   
        id: 2,
        alt: 'Details',
        src: 'imges/slide/details1.png'
    },
    {   
        id: 3,
        alt: 'Details',
        src: 'imges/slide/details2.png'
    },
    {   
        id: 4,
        alt: 'Details',
        src: 'imges/slide/details3.png'
    },
    {   
        id: 5,
        alt: 'Offers',
        src: 'imges/slide/job1.png'
    },
    {   
        id: 6,
        alt: 'Messages',
        src: 'imges/slide/mes.png'
    },
    {   
        id: 7,
        alt: 'MyQR',
        src: 'imges/slide/qr.png'
    },
    ]

    const hosts = [
    {   
        id: 1,
        alt: 'Select',
        src: 'imges/slide/select1.png'
    },
    {   
        id: 2,
        alt: 'Console',
        src: 'imges/slide/con2.png'
    },
    {   
        id: 3,
        alt: 'Console',
        src: 'imges/slide/time1.png'
    },
    {   
        id: 4,
        alt: 'Console',
        src: 'imges/slide/time2.png'
    },
    {   
        id: 5,
        alt: 'Console',
        src: 'imges/slide/time3.png'
    },
    {   
        id: 6,
        alt: 'Console',
        src: 'imges/slide/time4.png'
    },
    ]

    window.addEventListener('touchmove', function(event) {
        event.preventDefault();
    });

    new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data:{
        users: users,
        hosts: hosts,
        icons: [
        'mdi-git',
      ],
    },
    })
</script>
</body>
</html>