.topbox{
    width: 100vw;
    height: 80vh;
    background-color: #b5555a;
}
#app{
    color: rgb(215, 215, 215);
    background-color: rgb(47, 47, 47);
}
a{
    text-decoration: none;
}
p{
    font-size: 14px;
}
h2{
    margin: 10vh 0  5vh 0;
    line-height: 59px!important;
}
.under{
    border-bottom:solid;
    border-color:#b5555a;
    border-width:2px;
}
.mov{
    width: 300px;
    margin:  30px 0;
}
.ss{
    width: 200px;
}
.sign{
    width: 80%;
}
